$colors: (
  "primary": #008732,
  "secondary": #e9020d,
  "white": #fff,
  "blue": #0070d2,
  "black_main": #000,
);
$fontSize: (
  "large": 2.4rem,
  "middle": 1.2rem,
  "small": 0.8rem,
);
$fontFamily: (
  "Staatliches": "Staatliches",
  "Source Sans Pro": "Source Sans Pro",
);
$transition: all 0.2s linear;
